@{
    ViewBag.Title = "Index";
}
@using Lmp.ProductShow.Model;

<h2>用户列表</h2>

<div id="AdminsID">
    <table border="1">
        <tr>
            <th>编号</th><th>用户名</th><th>密码</th><th>删除</th>
        </tr>
        @foreach (var admin in (List<tblAdmin>)ViewData["admins"])
        {
            <tr>
                <td>@admin.id</td>
                <td>@admin.username</td>
                <td>@admin.password</td>
                <td><a href="/Admin/Delete/@admin.id">删除</a></td>
            </tr>
         }
    </table>

</div>
