@{
    ViewBag.Title = "Index";
    Layout = null;
}

@using Lmp.ProductShow.Model

<html>
<head>
    <h2>Index</h2>

    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />

    <script>
        $(function () {
            $(".category2").click(function () {
                var categoryid = $(this).attr("categoryid");
                $("#mainFrameid").attr("src", "/Product/Products?categoryid=" + categoryid);
                $("#newProductCategoryIdId").val(categoryid);
               
                var categoryname = $(this).text();
                $("#newProductCategoryNameId").val(categoryname);
                $("#ProductCategoryName").text(categoryname);
            });

            $("#newProductDivId").css("display", "none");
            $("#newProductButtonId").click(function () {
                $("#newProductDivId").dialog({
                    modal: true,
                    resizable: true,
                    maximizable: true,
                    collapsible: true,
                    title: "新增产品",
                    width: 400,
                    height: 300,
                    top: 100,
                    left: 100
                });
            });

            $("#newProductCancelButtonId").click(function () {
                $("#newProductDivId").dialog("close");
            });
            $("#newProductOKButtonId").click(function () {
                $.ajax({
                    type: "post",
                    url: "/Product/Add",
                    data: {
                        "name": $("#newProductNameId").val(),
                        "categoryid": $("#newProductCategoryIdId").val()
                    },
                    success: function (data) {
                        if (data == "1") {
                            alert("新增产品成功！");
                            var src = $("#mainFrameid").attr("src");
                            $("#mainFrameid").attr("src", src);
                        } else {
                            alert("产品添加失败！");
                        }
                        $("#newProductDivId").dialog("close");
                    }

                })
            })
        })
    </script>
    <style type="text/css">
        div#categoryDisplayDiv {
            height: auto;
            width: 30%;
            float: left;
        }

        div#productsDisplayDiv {
            height: auto;
            width: 70%;
            float: left;
        }

        iframe {
            height: auto;
            width: auto;
        }
        table, tr, td {
            border: 1px solid;
        }
    </style>
</head>
<body>
    <div id="categoryDisplayDiv">
        <ol>
            @foreach (var categoryModel in (List<CategoryModel>)ViewData["category1Model"])
            {
                <li>@categoryModel.name
                    <ol>
                        @foreach (var categoryModel2 in categoryModel.children)
                        {
                            <li>
                                <a href="javascript:void(0)" class="category2" categoryid=@categoryModel2.id>@categoryModel2.name</a>
                            </li>
                        }
                    </ol>
                </li>
            }
        </ol>
    </div>
    <div id="productsDisplayDiv">
        <p id="ProductCategoryName"></p>
        <button id="newProductButtonId">新增</button>
        <div>
        <iframe id="mainFrameid"></iframe></div>
    </div>

    <div id="newProductDivId">
        <input type="hidden" id="newProductCategoryIdId" />
        <table>
            <tr>
                <td>类目</td>
                <td><input id="newProductCategoryNameId" /></td>
            </tr>
            <tr>
                <td>产品名称</td>
                <td>
                    <input type="text" id="newProductNameId"/></td>
            </tr>
        </table>
        <input type="button" id="newProductOKButtonId" value="新增" />
        <input type="button" id="newProductCancleButtonId" value="取消" />
    </div>
</body>
</html>
